body {
    margin: auto;
    background-color: rgb(204, 197, 204);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-color: rgb(48, 47, 47);
    color: rgb(245, 243, 243);
    display: flex;
    justify-content: center;
    padding : 15px;
}

aside {
    display: flex;
    justify-content: center;

    border: 3px solid green;
}

img {
   
    filter: brightness(90%);
    object-fit: cover;
    height: 400px;
    width: auto;
}